* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 12px;
}

.toggle-switch--light {
  background: #aeb3cb;
}

.toggle-switch--dark {
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
}

.toggle-switch__input {
  display: none;
}

.toggle-switch__slider {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 3px;
  right: 3px;
}

.toggle-switch__slider--light {
  background: #f0f2fa;
  -webkit-transition: 0s;
  transition: 0s;
}

.toggle-switch__slider--dark {
  background: #252a41;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}

.container {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 326px;
}

.container--light {
  background: white;
  -webkit-transition: 0s;
  transition: 0s;
}

.container--dark {
  background: #1e202a;
}

@media screen and (min-width: 500px) {
  .container {
    width: 1440px;
    height: 800px;
  }
}

.container__top-pattern {
  position: absolute;
  width: 100%;
  height: 235px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0;
  z-index: 0;
}

.container__top-pattern--light {
  background: #f5f7ff;
  -webkit-transition: 0s;
  transition: 0s;
}

.container__top-pattern--dark {
  background: #1f212e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid #000;
  padding: 0 24px 0 24px;
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .wrapper {
    padding: 0 165px 0 165px;
  }
}

.wrapper--main {
  height: 191px;
}

.total {
  height: 110px;
  border-bottom: 1px solid #000;
}

.total-title {
  margin-top: 36px;
}

.total-follows {
  margin-top: 4px;
}

.toggle-container {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  border: 1px solid #000;
  border-radius: 5px;
}

.card-top {
  width: 100%;
  height: 4px;
}

.card-top--facebook {
  background: #198ff5;
}

.card-top--instagram {
  background: linear-gradient(45deg, #fdc468, #df4996);
}

.card-top--twitter {
  background: #1ca0f2;
}

.card-top--youtube {
  background: #c4032a;
}

.card--light {
  background: #f0f2fa;
  color: #63687e;
  -webkit-transition: 0s;
  transition: 0s;
}

.card--dark {
  background: #252a41;
  color: white;
}

.card--overall {
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.card--overall:last-child {
  margin-bottom: 0px;
}

.card .overall-social-handler {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card .overall-following {
  margin-top: 28px;
}

.card .overall-following-title {
  margin-top: 9px;
}

.card .overall-change {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.overview-title {
  margin-top: 46px;
  margin-bottom: 27px;
}

.card--daily {
  margin-bottom: 16px;
  height: 125px;
}

.daily {
  position: relative;
}

.daily__stats-title {
  position: absolute;
  top: 27px;
  left: 24px;
}

.daily__icon {
  position: absolute;
  top: 26px;
  right: 31px;
}

.daily__stats-count {
  position: absolute;
  bottom: 19px;
  left: 24px;
}

.daily__stats-change {
  position: absolute;
  right: 31px;
  bottom: 24px;
}
/*# sourceMappingURL=main.css.map */