* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.text-blackwhite--light {
  color: #1e202a;
  -webkit-transition: 0s;
  transition: 0s;
}

.text-blackwhite--dark {
  color: white;
}

.text-gray--light {
  color: #63687e;
  -webkit-transition: 0s;
  transition: 0s;
}

.text-gray--dark {
  color: #8b97c6;
}

.text-graywhite--light {
  color: #63687e;
  -webkit-transition: 0s;
  transition: 0s;
}

.text-graywhite--dark {
  color: white;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 500px) {
  body {
    height: 100vh;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 12px;
}

.toggle-switch--light {
  background: #aeb3cb;
}

.toggle-switch--dark {
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
}

.toggle-switch__input {
  display: none;
}

.toggle-switch__slider {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 3px;
  right: 3px;
}

.toggle-switch__slider--light {
  background: #f0f2fa;
  -webkit-transition: 0s;
  transition: 0s;
}

.toggle-switch__slider--dark {
  background: #252a41;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}

.container {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 326px;
}

.container--light {
  background: white;
  -webkit-transition: 0s;
  transition: 0s;
}

.container--dark {
  background: #1e202a;
}

@media screen and (min-width: 500px) {
  .container {
    width: 1440px;
    height: 800px;
  }
}

.container__top-pattern {
  position: absolute;
  width: 100%;
  height: 235px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0;
  z-index: 0;
}

.container__top-pattern--light {
  background: #f5f7ff;
  -webkit-transition: 0s;
  transition: 0s;
}

.container__top-pattern--dark {
  background: #1f212e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 24px 0 24px;
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .wrapper {
    padding: 0 165px 0 165px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px 30px;
  }
}

.wrapper--main {
  height: 191px;
}

@media screen and (min-width: 500px) {
  .wrapper--main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 136px;
  }
}

.total {
  height: 110px;
}

.total--light {
  border-bottom: 1px solid #63687e;
  -webkit-transition: 0s;
  transition: 0s;
}

.total--dark {
  border-bottom: 1px solid #8b97c6;
}

@media screen and (min-width: 500px) {
  .total {
    border-bottom: none;
  }
}

.total-title {
  margin-top: 36px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
}

@media screen and (min-width: 500px) {
  .total-title {
    margin-top: 36px;
    font-size: 28px;
  }
}

.total-follows {
  margin-top: 4px;
}

@media screen and (min-width: 500px) {
  .total-follows {
    margin-top: 3px;
  }
}

.toggle-container {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .toggle-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 49px;
  }
}

@media screen and (min-width: 500px) {
  .toggle-label {
    margin-right: 13px;
  }
}

.card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .card {
    width: 255px;
  }
}

.card-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 105%;
  height: 5px;
}

.card-top--facebook {
  background: #198ff5;
}

.card-top--instagram {
  background: linear-gradient(45deg, #fdc468, #df4996);
}

.card-top--twitter {
  background: #1ca0f2;
}

.card-top--youtube {
  background: #c4032a;
}

.card--light {
  background: #f0f2fa;
  color: #63687e;
  -webkit-transition: 0s;
  transition: 0s;
}

.card--dark {
  background: #252a41;
  color: #8b97c6;
}

.card--overall {
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 500px) {
  .card--overall {
    margin-bottom: 0px;
  }
}

.card--overall:last-child {
  margin-bottom: 0px;
}

.overall-social-handler {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overall-social-handler__icon {
  margin-right: 8px;
}

.overall-social-handler__tag {
  font-size: 12px;
}

.overall-following {
  margin-top: 28px;
  letter-spacing: -2px;
  font-size: 56px;
  line-height: 48px;
}

.overall-following-title {
  margin-top: 9px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.overall-change {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overall-change--up {
  color: #1db489;
}

.overall-change--down {
  color: #dc414c;
}

.overall-change-date {
  margin-left: 4px;
  font-size: 12px;
}

.overview-title {
  margin-top: 46px;
  margin-bottom: 27px;
  font-size: 24px;
}

@media screen and (min-width: 500px) {
  .overview-title {
    margin-bottom: 24px;
  }
}

.card--daily {
  margin-bottom: 16px;
  height: 125px;
}

@media screen and (min-width: 500px) {
  .card--daily {
    margin-bottom: 0px;
  }
}

.daily {
  position: relative;
}

.daily__stats-title {
  position: absolute;
  top: 27px;
  left: 24px;
}

.daily__icon {
  position: absolute;
  top: 26px;
  right: 31px;
}

.daily__stats-count {
  position: absolute;
  bottom: 19px;
  left: 24px;
  font-size: 32px;
}

.daily__stats-change {
  position: absolute;
  right: 31px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily__stats-change-percent {
  font-size: 12px;
}

.daily__stats-change-percent--up {
  color: #1db489;
}

.daily__stats-change-percent--down {
  color: #dc414c;
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.icon--up {
  background-image: url("../svg/icon-up.svg");
  width: 8px;
  height: 4px;
}

.icon--down {
  background-image: url("../svg/icon-down.svg");
  width: 8px;
  height: 4px;
}

.icon--facebook {
  background-image: url("../svg/icon-facebook.svg");
}

.icon--instagram {
  background-image: url("../svg/icon-instagram.svg");
}

.icon--twitter {
  background-image: url("../svg/icon-twitter.svg");
}

.icon--youtube {
  background-image: url("../svg/icon-youtube.svg");
}
/*# sourceMappingURL=main.css.map */