// || IMPORTS
@import 'variables.sass'

// || RESET INITIALS
*
  margin: 0
  padding: 0
  box-sizing: border-box

// || TYPOGRAPHY
*
  font-family: 'Inter', sans-serif
  font-size: 14px
  font-weight: 700
.text
  &-blackwhite
    &--light
      color: $l_Text_VeryDarkBlue
      transition: $themeTransitionTime
    &--dark
      color: $d_Text_White
  &-gray
    &--light
      color: $l_Text_DarkGrayishBlue
      transition: $themeTransitionTime
    &--dark
      color: $d_Text_DesaturatedBlue
  &-graywhite
    &--light
      color: $l_Text_DarkGrayishBlue
      transition: $themeTransitionTime
    &--dark
      color: $d_Text_White
// || FOOTNOTE
// the very end, buttom of the page.
.attribution 
  display: none
  font-size: 11px
  text-align: center
.attribution a 
  color: hsl(228, 45%, 44%)

// || BODY CENTERING
body
  display: flex
  justify-content: center
  align-items: center
  @include setDesktop
    height: 100vh
// || TOGGLE SWITCH
.toggle
  &-container
  &-label
  &-switch
    position: relative
    display: inline-block
    width: 48px
    height: 24px
    border-radius: 12px
    &--light //light theme for slider toggle
      background: $l_Toggle
    &--dark //dark theme for slider toggle
      background-image: $d_Toggle
    &__input
      display: none
    &__slider
      position: absolute
      display: inline-block
      width: 18px
      height: 18px
      border-radius: 50%
      top: 3px
      right: 3px
      &--light
        background: $l_BG_card_LightGrayishBlue
        transition: $themeTransitionTime
      &--dark
        background: $d_BG_card_DarkDesaturatedBlue
        transform: translateX(-24px)

// || Containers and Wrappers
.container
  position: relative
  width: 100vw
  display: flex
  flex-direction: column
  min-width: 326px //MOBILE ONLY
  &--light
   background: $l_BG_White
   transition: $themeTransitionTime
  &--dark
   background: $d_BG_VeryDarkBlue
  @include setDesktop
    width: 1440px
    height: 800px
  &__top-pattern
    position: absolute
    width: 100%
    height: 235px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    top: 0
    z-index: 0
    &--light
      background: $l_BG_top_VeryPaleBlue
      transition: $themeTransitionTime
    &--dark
      background: $d_BG_top_VeryDarkBlue
// || WRAPPERS for each section
.wrapper
  display: flex
  flex-direction: column
  width: 100%
  padding: 0 24px 0 24px
  z-index: 1
  @include setDesktop
    padding: 0 165px 0 165px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
  &--main
    height: 191px
    @include setDesktop
      // display: flex
      // flex-direction: row
      // justify-content: space-between
      grid-template-columns: 1fr 1fr


// || TITLE BAR WITH TOGGLE
.total
  height: 110px
  &--light
    border-bottom: 1px solid $l_Text_DarkGrayishBlue
    transition: $themeTransitionTime
  &--dark
    border-bottom: 1px solid $d_Text_DesaturatedBlue
  &-title
    margin-top: 36px
    font-weight: 700
    font-size: 24px
    letter-spacing: 0px
  &-follows
    margin-top: 4px

.toggle-container
  margin-top: 16px
  display: flex
  flex-direction: row
  justify-content: space-between
// || CARDS
.card
  position: relative
  border-radius: 5px
  overflow: hidden
  // min-width: 326px
  @include setDesktop
    width: 255px
  &-top
    position: absolute
    top: 0px
    left: 0px
    width: 105%
    height: 5px
    &--facebook
      background: $social_Facebook
    &--instagram
      background: $social_Instagram
    &--twitter
      background: $social_Twitter
    &--youtube
      background: $social_YouTube
  &--light
    background: $l_BG_card_LightGrayishBlue
    color: $l_Text_DarkGrayishBlue
    transition: $themeTransitionTime
  &--dark
    background: $d_BG_card_DarkDesaturatedBlue
    color: $d_Text_DesaturatedBlue
  &--overall
    height: 216px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 24px
  &--overall:last-child
    margin-bottom: 0px

// || OVERALL Card Content
.overall
  &-social-handler
    margin-top: 32px
    display: flex
    flex-direction: row
    align-items: center
    &__icon
      margin-right: 8px
  &-following
    margin-top: 28px
    letter-spacing: -2px
    font-size: 56px
    line-height: 48px
    &-title
      margin-top: 9px
      font-weight: 400
      letter-spacing: 5px
      text-transform: uppercase
      font-size: 12px
  &-change
    margin-top: 25px
    display: flex
    flex-direction: row
    align-items: center
    &--up
      color: $LimeGreen
    &--down
      color: $BrightRed
    &-date
      margin-left: 4px
      font-size: 12px
  
  // || OVERVIEW TITLE
.overview-title
  margin-top: 46px
  margin-bottom: 27px
  font-size: 24px

// || DAILY OVERVIEW CARDS
.card
  &--daily
    margin-bottom: 16px
    height: 125px
.daily
  position: relative
  &__stats-title
    position: absolute
    top: 27px
    left: 24px
  &__icon
    position: absolute
    top: 26px
    right: 31px
  &__stats-count
    position: absolute
    bottom: 19px
    left: 24px
    font-size: 32px
  &__stats-change
    position: absolute
    right: 31px
    bottom: 24px
    display: flex
    flex-direction: row
    align-items: center
    &-percent
      font-size: 12px
      &--up
        color: $LimeGreen
      &--down
        color: $BrightRed

// || ICONS and SVG
.icon
  background-repeat: no-repeat
  background-position: center center
  width: 20px
  height: 20px
  &--up
    background-image: url('../svg/icon-up.svg')
    width: 8px
    height: 4px
  &--down
    background-image: url('../svg/icon-down.svg')
    width: 8px
    height: 4px
  &--facebook
    background-image: url('../svg/icon-facebook.svg')
  &--instagram
    background-image: url('../svg/icon-instagram.svg')
  &--twitter
    background-image: url('../svg/icon-twitter.svg')
  &--youtube
    background-image: url('../svg/icon-youtube.svg')